<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="../css/navbar.css"> <!-- Navbar CSS -->

  
</head>
<body>
  <!-- Navbar Section -->
  <header>
    <nav class="navbar">
      <div class="logo">
        <a href="#">
            <img src="../assets/logo white.png" alt="Save2Serve Logo" class="logo-img">
        </a>
        
        <!-- <a href="logo.png">Save2<span>SERVE</span></a> -->
      </div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
      <div class="auth-buttons">
        <a href="login.html" class="login-btn">Login</a>
        <a href="signup.html" class="signup-btn">Signup</a>
        <a href="dashboard.html" class="menu-icon">&#8942;</a>
      </div>
    </nav>
  </header>